/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top:50px;
  left:10px;
  background-color: #C0C0C0;
  padding: 10px;
  border-radius: 15px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 0 auto;
  cursor: move;
}


#curvedLine{
  border-color:#CC0099;
  background-color:#CC0099;
}

#flatLine{
  border-color:#800000;
  background-color:#800000;
}

hr{
  height: 5px;
  width:50px;
  border-width: 1px;
  border-style: solid;
}

.center{
  text-align: center;
}

.mright{
  padding-right: 5px;
}