/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top:50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  margin: 0 auto;
}
